/* Responsiveness of the site */

@media screen and (max-width: 360px) {
  .isteLogo {
    width: 70px;
    height: auto;
  }
  .isteHeading {
    position: relative;
    margin-left: 60px;
  }
}
@media screen and (max-width: 1440px) {
  form {
    width: 500px;
  }
}
